.checkbox {
  flex-shrink: 0;
  flex-basis: auto;
  border: none;
  height: 2rem;
  width: 2rem;
  align-self: flex-start;
  justify-self: center;
}

.pencilIcon {
  fill: #959595;
  font-size: 2.6rem;
  align-self: center;
  text-align: end;
  margin-left: auto;
}

.pencilIconActive {
  font-size: 2.6rem;
  align-self: center;
  text-align: end;
  fill: #002ca3;
}

.pencilIcon:hover {
  fill: #002ca3;
}

.pencilIcon:active {
  transform: scale(0.94);
}

.deleteIcon {
  margin-left: 0.5rem;
  color: #959595;
  font-size: 2.8rem;
  align-self: center;
  justify-self: flex-end;
  text-align: end;
  animation: all 0.1s ease-in-out;
}

.deleteIcon:hover {
  color: #ff4545;
}

.deleteIcon:active {
  transform: scale(0.74);
}

@media (max-width: 58rem) {
  .pencilIconActive,
  .pencilIcon,
  .deleteIcon {
    font-size: 2.8rem;
  }

  .checkbox {
    justify-self: start;
    height: 2.2rem;
    width: 2.2rem;
  }
}

@media (max-width: 40rem) {
  .pencilIconActive,
  .pencilIcon,
  .deleteIcon {
    font-size: 2rem;
  }

  .checkbox {
    height: 2.5rem;
    width: 2.5rem;
  }
}
