.checkbox {
  margin-right: 1.5rem;
  flex-shrink: 0;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
}

.todo_text {
  flex-basis: 90%;
  align-self: center;
  justify-self: flex-start;
  font-size: 2rem;
}

.edit {
  flex-shrink: 0;
  stroke: #959595;
  margin: 0 1rem;
  font-size: 2.6rem;
  align-self: center;
  text-align: end;
}

.edit:hover {
  stroke: #002ca3;
}

.edit:active {
  transform: scale(0.94);
}

.editOn {
  flex-shrink: 0;
  margin: 0 1rem;
  font-size: 2.6rem;
  align-self: center;
  text-align: end;
  stroke: #002ca3;
}

.trashIcon {
  flex-shrink: 0;
  stroke: #959595;
  font-size: 2.8rem;
  align-self: center;
  text-align: end;
}

.trashIcon:hover {
  stroke: #ff4545;
  animation: trashRotate 0.2s linear;
}

.trashIcon:active {
  transform: scale(0.94);
}

@keyframes trashRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.strikethrough {
  text-decoration: line-through;
  flex-basis: 90%;
  align-self: center;
  justify-self: flex-start;
  font-size: 2rem;
  opacity: 0.5;
}

@media (max-width: 58rem) {
  .card {
    width: 60%;
    height: 6.5vh;
  }

  .editOn,
  .edit,
  .trashIcon {
    font-size: 2.8rem;
  }

  .checkbox {
    height: 2.2rem;
    width: 2.2rem;
  }
  .todo_text,
  .strikethrough {
    font-size: 2rem;
  }
}

@media (max-width: 40rem) {
  .card {
    width: 70%;
    height: 5.5vh;
  }

  .editOn,
  .edit,
  .trashIcon {
    font-size: 2rem;
  }

  .checkbox {
    height: 1.8rem;
    width: 1.8rem;
  }
  .todo_text,
  .strikethrough {
    font-size: 2rem;
  }
}
