/* .HeaderContainer {
  background-color: white;
  margin: 0rem 0rem 3rem 0rem;
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
}

.headerInput {
  margin: 1rem 3rem 1rem 5rem;
  border-radius: 0.6rem;
  width: 40%;
  font-size: 3rem;
  padding: 1.5rem 1rem 1.5rem 2.5rem;
  border: 1.5px solid #1749d4;
}

.logo {
  font-size: 5rem;
  letter-spacing: -0.52rem;
}

.addBtn {
  background-color: #1749d4;
  color: white;
  border: none;
  border-radius: 0.6rem;
  font-size: 3rem;
  padding: 1.5rem 3.5rem;
}

.addBtn:hover {
  background-color: #2a5be4;
}

.addBtn:active {
  transform: scale(0.98);
}

@media (max-width: 50rem) {
  .HeaderContainer {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 3fr 2fr;
    gap: 2rem;
    margin-left: 0;
  }

  .headerInput {
    font-size: 3rem;
    margin-left: 5rem;
    align-self: center;
    justify-self: center;
  }
  .logo {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
  }
  .headerInput {
    width: 82%;
  }
  .addBtn {
    width: 13rem;
    justify-self: start;
  }
}

@media (max-width: 38rem) {
  .headerInput {
    font-size: 2rem;
    height: 5rem;
    align-self: center;
    justify-self: end;
    margin: 0;
    padding-left: 1rem;
  }

  .addBtn {
    font-size: 2rem;
    height: 5rem;
    width: 10rem;
    margin: 1rem;
    margin-right: 2rem;
    align-self: center;
    justify-self: center;
  }
} */

ul {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  gap: 3rem;
  margin: 5rem 0rem;
  position: sticky;
  top: 0%;
}

li {
  list-style: none;
}

.input_container {
  display: flex;
  justify-content: center;
}

.addBtn_container {
  justify-self: start;
}

.logo {
  text-align: right;
  font-size: 5rem;
  letter-spacing: -0.52rem;
  font-weight: 700;
}

.input {
  width: 95%;
  font-size: 2.8rem;
  border-radius: 0.6rem;
  border: 1.5px solid #1749d4;
  padding: 1.1rem 2rem 1.1rem 2rem;
}

.addBtn {
  padding: 2rem 3.5rem 2rem 3.5rem;
  font-size: 2.5rem;
  background-color: #004be1;
  color: white;
  border-radius: 0.6rem;
  border: none;
}

.addBtn:hover {
  background-color: #0052f7;
}

.addBtn:active {
  transform: scale(0.98);
}
