form {
  padding: 0.1rem 0rem 1.5rem 0;
  background-color: white;
  position: sticky;
  top: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  margin: 3.5rem 1rem;
  position: sticky;
  top: 0;
}

li {
  list-style: none;
}

.input_container {
  display: flex;
  justify-content: center;
}

.addBtn_container {
  justify-self: start;
}

.logo {
  text-align: right;
  font-size: 5rem;
  letter-spacing: -0.52rem;
  font-weight: 700;
  margin: 0 2rem;
}

.input {
  width: 93%;
  font-size: 2.8rem;
  border-radius: 0.6rem;
  border: 1.5px solid #1749d4;
  padding: 1.1rem 2rem 1.1rem 2rem;
}

.addBtn {
  padding: 1.5rem 3.5rem;
  font-size: 3rem;
  background-color: #004be1;
  color: white;
  border-radius: 0.6rem;
  border: none;
}

.addBtn:hover {
  background-color: #0052f7;
}

.addBtn:active {
  transform: scale(0.98);
}

@media (max-width: 58rem) {
  ul {
    gap: 2rem;
  }

  .logo {
    grid-column: span 3;
    align-self: center;
    justify-self: center;
  }
  .input_container {
    grid-column: span 2;
    justify-content: flex-end;
  }
  .input {
    width: 76%;
    height: 5.5rem;
    font-size: 2.6rem;
    border-radius: 0.6rem;
    border: 1.5px solid #1749d4;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    align-self: center;
  }

  .addBtn_container {
    background-color: #004be1;
    color: white;
    border-radius: 0.6rem;
    border: none;
    align-self: center;
    justify-self: start;
  }

  .addBtn {
    padding: 1.19rem 3.2rem;
    font-size: 2.6rem;
    background-color: #004be1;
    color: white;
    border-radius: 0.6rem;
    border: none;
  }
}

@media (max-width: 40rem) {
  ul {
    gap: 2rem;
  }

  .logo {
    grid-column: span 3;
    align-self: center;
    justify-self: center;
  }
  .input_container {
    grid-column: span 2;
    justify-content: flex-end;
  }
  .input {
    width: 86.5%;
    height: 100%;
    font-size: 2rem;
    border-radius: 0.6rem;
    border: 1.5px solid #1749d4;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-self: center;
  }

  .addBtn_container {
    background-color: #004be1;
    color: white;
    border-radius: 0.6rem;
    border: none;
    align-self: center;
    justify-self: start;
  }

  .addBtn {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    background-color: #004be1;
    color: white;
    border-radius: 0.6rem;
    border: none;
  }
}
