.container::-webkit-scrollbar {
  display: none !important;
}

/* If the above selector doesn't work, try using a more specific selector */
.container > .list-unstyled::-webkit-scrollbar {
  display: none !important;
}

.todoCard:hover{
  box-shadow: rgba(108, 117, 125,0.24) 0px 3px 8px;
}



/* ##################################################### */

.check {
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}


.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #959595;
}

input:checked + .check svg {
  stroke: lime;
}

input:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
